.Posts {
    width: 70%;
    margin: 50px auto;
}

.PostsHeader {
    background-color: #636B46;
    height: 150px;
    padding: 20px;
    color: white;

}

.PostsHeader h1 {
    font-size: 2.0em;
  }

.PostsHeader button {
    background-color: #ccc;
    width: 80px;
    height: 30px;
    margin: 10px;
}


.PostDetails{
    margin-top: 50px; 
}

.Posts label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.Posts input,
.Posts textarea,
.Posts select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto;
}