.Post {
    height: 60px;
    font-size: 15px;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
    margin: 0px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction:row;
}

.Post:hover,
.Post:active {
    background-color: lightgray;
}