.Post {
    height: 60px;
    font-size: 15px;
    padding-top: 40px;
    padding-left: 40px;
    text-align: left;
    border: 1px solid #CDA34F;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 40px;
    color: #373F27;

}


.Post:hover,
.Post:active {
    background-color: #E9E7DA;
    font-size: 20px;
    padding-bottom: 15px;
}